<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pod Information</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
        <h1 class="centered">Pod Information</h1>
        <tr text-align="left">
            <th class="centered">NAME</th>
            <th class="centered">HOST IP</th>
            <th class="centered">POD IP</th>
            <th class="centered">NAMESPACE</th>
        </tr>
        </thead>
            <%= for (dt) in id { %>
            <tr>
                <td class="centered">
                    <%= dt["podName"] %>
                </td>
                <td class="centered">
                    <%= dt["hostIp"] %>
                </td>
                <td class="centered">
                    <%= dt["podIP"] %>
                </td>
                <td class="centered">
                    <%= dt["namespace"] %>
                </td>
            </tr>
            <% } %>
    </table>
</body>
</html>